body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.registration-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="password"],
.registration-form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.registration-form button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}


.username{
    padding-top:30px;
}


.registration-form button:hover {
    background-color: #555;
}